.header{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    align-items: center;
    height: 150px;
    color: white;
    }
     .nav-items{
     
      opacity: 0.5;
      display: flex;
  justify-content: center;
align-items: center;
      width: 900px;
      height: 80px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 600px;
      align-items: center;
      list-style: none;
      font-weight: 400;
    }
    .logo {
      width: 200px;
      display: flex;
      justify-content: center;
     align-items: center;
    }
    a {
        all: unset;
        color: rgb(255, 248, 248);
        font-size: 20px;
    }
    .iconham {
      display: none;
      float: right;
      line-height: 90px;
      margin-right: 40px;
    }
    @media screen and (max-width: 500px){
      .header {
        width: 368px;
        height: 100px;
         position: absolute;
         top: 14px;
      }
      .logo {
        width: 100px;
      }
      .nav-items {
       display: none;
      }
      .nav-items.active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 80px;
        right: 8px;
      }
      a {
        color: black;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
      }
        .iconham {
          display: block;
        }
        ul {
          display: grid;
          position: absolute;
          width: 99px;
          height: 120px;
          right: -7px;
          align-items: center;
          justify-content: center;
         font-size: 15px;
         transition: all 0.3s ease-in;
        }
       li{
        width: 100px;
        text-align: center;
        background-color: white;
       }
       
    }